.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  // margin-top: 100px;
}
.form {
  width: 350px;
  height: fit-content;
  padding: 24px;
  background: #141414;
  border: 1px solid #292929;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  input {
    width: fit-content;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #e0e0e0;
    border: none;
    background: none;
    outline: none;
  }
}
.header-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #0a0a0a;
  border-bottom: 0.5px solid #3e3e3e;
  padding: 32px 0;
}
.header {
  width: 730px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
  }
  .avatar {
    width: 64px;
    height: 64px;
    border-radius: 24px;
  }
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    color: #e0e0e0;
  }
}
