.NewsCard {
  width: 350px;
  height: 200px;
  background-color: #292929;
  border-radius: 16px;
  overflow: hidden;
  img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    object-fit: contain;
    border-radius: 16px;
  }
}
.Title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 24px;
  width: 100%;
  position: sticky;
  bottom: 0px;
  height: fit-content;
  background: linear-gradient(
    180deg,
    rgba(10, 10, 10, 0) 0%,
    rgba(10, 10, 10, 0.7) 45.62%,
    #0a0a0a 100%
  );
  p {
    font-weight: 300;
    text-decoration: underline;
    font-size: 14px;
    line-height: 120%;
    color: #f5f5f5;
  }
}
