@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background: #0a0a0a;
  color: #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.forms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: fit-content;
}
button {
  border-radius: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 24px;
}
.btn-default {
  background: #e0e0e0;
  border: 1px solid #292929;
  border-radius: 16px;
  color: #0a0a0a;
}
.btn-outline {
  background: none;
  border: 2px solid #e0e0e0;
  border-radius: 16px;
  color: #e0e0e0;
}
.btn-secondary {
  background: #141414;
  border-radius: 16px;
  color: #e0e0e0;
  font-size: 64px;
  padding: 48px;
}
.steps {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.circle {
  background: #e0e0e0;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  bottom: 8px;
}
.settings {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.temperature-btns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}