@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background: #0a0a0a;
  color: #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: #0a0a0a;
}
body::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 1em;
  border: none;
}
.forms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: fit-content;
}
button {
  border-radius: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 24px;
}
.btn-default {
  background: #e0e0e0;
  border: 1px solid #292929;
  border-radius: 16px;
  color: #0a0a0a;
}
.btn-outline {
  background: none;
  border: 2px solid #e0e0e0;
  border-radius: 16px;
  color: #e0e0e0;
}
.btn-secondary {
  background: #141414;
  border-radius: 16px;
  color: #e0e0e0;
  font-size: 64px;
  padding: 48px 64px;
  width: fit-content;
}
.steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 24px;
  background: #141414;
  border-radius: 16px;
  position: fixed;
  bottom: 40px;
}
.settings {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.temperature-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240;
}
.tags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  flex-wrap: wrap;
}
.tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background: #262626;
  border-radius: 28px;
  color: #f5f5f5;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
.tag-active {
  background: #e0e0e0;
  color: #262626;
}
.number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 10px;
  width: 80px;
  height: 80px;
  color: #666666;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  border: 2px solid #666666;
  border-radius: 16px;
  cursor: pointer;
}
.number-active {
  color: #e0e0e0;
}
.countries {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  flex-wrap: wrap;
}
.country {
  width: 160px;
  height: 211px;
  background: #292929;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  img {
  box-sizing: border-box;
  height: 220px;
  }
}
.country-selected {
  border: 3px solid #fff;
}
