.CountryCard {
  width: 160px;
  height: 200px;
  background: #292929;
  border-radius: 16px;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
}
.Name {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  background: #141414;
  border-radius: 8px;
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #e0e0e0;
  }
}
.Active{
  border: 3px solid #fff;
}